body {
    width: 100%;
    height: 100vh;
    background: #FFF;
}

.grid__container {
    display: grid;
    grid-gap: 15%;
    padding: 15%;
    position: relative;
    grid-template-columns: repeat (11, [col] fr);
    grid-template-rows: repeat (4, [row] fr);
    /*float: inline-block;*/
}


.grid__first {
    width: 448%;
    height: 195%;
    flex-shrink: 0;
    background: #007F5F;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.grid__second {
    width: 448%;
    height: 195%;
    flex-shrink: 0;
    background: #2B9348;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.grid__third {
    width: 448%;
    height: 268%;
    flex-shrink: 0;
    background: #55A630;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.grid__forth {
    width: 448%;
    height: 405%;
    flex-shrink: 0;
    background: #80B918;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.grid__fifth {
    width: 212%;
    height: 122%;
    flex-shrink: 0;
    background: #AC0;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.grid__sixth {
    width: 212%;
    height: 122%;
    flex-shrink: 0;
    background: #BFD200;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    
}

.grid__seventh {
    width: 448%;
    height: 268%;
    flex-shrink: 0;
    background: #D4D700;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.grid__eigth {
    width: 448%;
    height: 122%;
    flex-shrink: 0;
    background: #DDDF00;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.grid__ninth {
    width: 448%;
    height: 122%;
    flex-shrink: 0;
    background: #EEEF20;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.grid__tenth {
    width: 448%;
    height: 122%;
    flex-shrink: 0;
    background: #FFFF3F;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.grid__eleventh {
    width: 212%;
    height: 268%;
    flex-shrink: 0;
    background: #007F5F;
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.grid__twelve {
    width: 1440%;
    height: 146%;
    flex-shrink: 0;
    background: #9BC1BC;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 64%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}